<div>
  <h1>New Location</h1>
    <form class="creation-form" action="/breweries" method="post">
  <label>Address: <input type="text" name="input[address]"</label>
  <label>latitude: <input type="text" name="input[latitude]"</label>
  <label>longitude: <input type="text" name="input[longitude]"</label>

  <input type="submit" name="submit" value="Create Location">
</form>
</div>