<div class="register">
	<h3> Register a New Account</h3>
	<form class="reg-form" action="/users" method="post">
	<label for"username">Username:</label>
	<input name="username" type="text"> 	
	<label for"password">Password:</label>
	<input name="password" type="password">
	<input type="submit" value="Register">
	</form>
</div>