<div class="mission">
  <h1>Mission Statement</h1>
  <p>Entering the world of beer can be hard. There is a lot of variety and various styles in beer and we want to make trying new styles you like easier. It can be expensive to try new styles and there is nothing worse than wasting money on a case of beer that you can't stand. We aim to introduce you to new styles of beer in an easy and beer-douche free manor and point you toward some libation establishments and breweries close to you.</p>
</div>
